:root {
  --primary-dark: #333;
  --background-grey: #ededed;
  --primary-grey: #333333;
  --background-color: rgba(255, 255, 255, 0);
  --blue: #377bb3;
  --red: #E92B2B;

  --header-font-size: 24px;
  --border-color: ##313335;
  --font-grey: #86888a;
}

body {
  /* background-color: var(--background-grey); */
  position: relative;
  font-family: Roboto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.experience {
  display: flex;
  flex-direction: column;
}

.experience #experience-header {
  display: flex;
  width: 500px;
  justify-content: space-between;
  /* border: 1px solid red; */
}

#experience-header .header {
  font-size: 32px;
}

.experience #experience-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;

  border: 1px solid black;
  /* border-radius: 10px; */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;

  /* padding: 22px; */
  /* margin: 5px; */

  background-color: var(--background-grey);
}

.experience #experience-form.active {
  transform: translate(-50%, -50%) scale(1);
}

#experience-form .form-header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--background-grey);
}

#experience-form .form-title {
  font-size: var(--header-font-size);
}

.experience #experience-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.experience #experience-overlay.active {
  opacity: 1;
  pointer-events: all;
}


.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 5px; */
  color: var(--font-grey);
  /* border: 1px solid blue; */
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  
}

.input label {
  font-size: 14px;
  padding-bottom: 4px;
}

.input input {
  /* border: 1px solid var(--primary-dark); */
  border: none;
  /* box-shadow: inset 0 0 0 0.1px rgba(0, 0, 0, 0.6); */
  /* box-sizing: border-box; */
  /* border-radius: 0.4rem; */
  background-color: white;
  height: 24px;
}

.experiences .job {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 8px;
}