:root {
  --primary-dark: #333;
  --background-grey: #ededed;
  --primary-grey: #333333;
  --background-color: rgba(255, 255, 255, 0);
  --blue: #377bb3;
  --red: #E92B2B;

  --page-width: 600px;

  --font-size-form-header: 1.4rem;
  --border-color: ##313335;
  --font-grey: #86888a;

  --spacing-one-and-a-half-x: 1rem;
}

body {
  /* background-color: var(--background-grey); */
  position: relative;
  font-family: Roboto;
}

.App {
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#general, #experience, #education {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0.7rem;

  /* padding: var(--spacing-one-and-a-half-x); */
}

.header-container {
  display: flex;
  width: var(--page-width);
  justify-content: space-between;

  padding: var(--spacing-one-and-a-half-x);
  padding-bottom: 0;
  height: 50px;
}

.header-container .open-btn {
  background-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;

}

.header-container .open-btn:hover {
  background-color: lightgray;
  transition: background-color 0.2s;
}

.header-title {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: var(--page-width);

  /* border: 1px solid black; */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;

  background-color: var(--background-grey);
  border-radius: var(--spacing-one-and-a-half-x);
}

.form.active {
  transform: translate(-50%, -50%) scale(1);
}

.form .form-header {
  display: flex;
  justify-content: space-between;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.form .form-title {
  font-size: var(--font-size-form-header);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--font-grey);
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  
}

.input label {
  font-size: 14px;
  padding-bottom: 4px;
}

.input input {
  /* border: 1px solid var(--primary-dark); */
  border: none;
  /* box-shadow: inset 0 0 0 0.1px rgba(0, 0, 0, 0.6); */
  /* box-sizing: border-box; */
  /* border-radius: 0.4rem; */
  background-color: white;
  height: 24px;
}

.job {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

